
mat-form-field {
  width: 80%;
  display: block;
  margin: 2% auto;
}
.center {
  display: flex;
  justify-content: center;
}

.margin-top {
  margin-top: 16px !important;
}

.text-center {
  text-align: center;
}
button{
  display: block;
  width: 80%;
  margin: 2% 0;
  padding: 2%;
  font-size: 20px;
}