 <mat-toolbar>
    <a [routerLink]="['inicio']">Inicio</a>
    <a [routerLink]="['publicaciones']">Mis publicaciones</a>
    <a href="#">relleno</a>
    <a href="#">rellano2</a>

  </mat-toolbar>
  <router-outlet></router-outlet>
