<div class="login-page">
  <mat-card class="mat-elevation-z12">
    <mat-card-title style="text-align:center;">Iniciar sesion/Registro</mat-card-title>
    <mat-tab-group mat-stretch-tabs class="example-stretched-tabs">
      <mat-tab label="Iniciar sesion">
          <mat-card-content>
              <h1 style="text-align: center;">Iniciar sesion</h1>
              <form [formGroup]="loginForm" (ngSubmit)="submit()">
                <mat-form-field>
                  <input matInput placeholder="Correo electronico" formControlName="email" />
                  <mat-error *ngIf="email?.errors?.['required']">
                    El correo electronico es requerido
                  </mat-error>
                  <mat-error *ngIf="email?.errors?.['email']">
                    Por favor introduzca un correo electronico valido
                  </mat-error>
                </mat-form-field>
                <mat-form-field>
                  <input matInput type="password" placeholder="Contraseña" formControlName="password" />
                  <mat-error *ngIf="password?.errors?.['required']">
                    La contraseña es requerida
                  </mat-error>
                </mat-form-field>
                <div class="center margin-top">
                    <button type="submit" mat-raised-button style="background-color: rgb(75, 75, 255);" >Login</button>
                    
                </div>
                <!-- <span class="center margin-top">New to our platform? <a class="sign-up-link" routerLink="/sign-up">Sign up!</a></span> -->
              </form>
            
          </mat-card-content>
      </mat-tab>
      <mat-tab label="Registro">
        <mat-card-content>
          <app-sign-up></app-sign-up>
        </mat-card-content>
      </mat-tab>
    </mat-tab-group>
    
  </mat-card>
  <!-- <button routerLink="/" mat-raised-button color="basic">Volver</button> -->
</div>
